.messageInvalid {
    text-align: left;
}

.messageValid {
    text-align: left;
}

.form-control.valid {
    border: 2px solid $color-green-0;
    &:focus {
        border: 2px solid $color-green-0;
    }
}

.form-control.error {
    border: 2px solid $color-red-0;
    &:focus {
        border: 2px solid $color-red-0;
    }
}