.pageResultContainer {
    .card-body {
        h4 {
            @include text-style ($color-black-0, $fs-2 - 2, $fw-bold);
        }
    }
    .pageResultContainer__buttonLoadMore {
        transform: translateX(35%);
        margin-top: $mg-2;
    }
}

.searchNotFoundContainer {
    background: $color-gray-6;
    width: 100%;
    height: 470px;
}

// 

@include mediaQuery('extra-large') {
    .pageResultContainer {
        .pageResultContainer__buttonLoadMore {
            transform: translateX(43%);
        }
    }
} 

@include mediaQuery('large') {
    .pageResultContainer {
        .pageResultContainer__buttonLoadMore {
            transform: translateX(43%);
        }
    }
} 
