.owl-prev, .owl-next {
    position: absolute;
    top: 33%;
    left: -2%;
    width: 45px;
    height: 45px;
    border-radius: 50%!important;
    background-color: $color-white-0!important;
    box-shadow: 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 3;
    span {
        @include text-style($color-blue, $fs-4, $fw-normal);
        line-height: 0.6;
    }
    &:focus {
        outline: none;
    }
}

.owl-next {
    left: unset;
    right: -3%;
}

.FormCheck {
    display: inline;
}

.modal-open {
    padding: 0!important;
}

.modal-header {
    h5 {
        @include text-style($color-black-0, $fs-30, $fw-normal)
    }
    .close {
        padding-top: $pd-2;
        padding-right: $pd-2;
        @include text-style($color-black-0, $fs-30, $fw-bold);
        cursor: pointer;
    }
}

.container {
    padding-right: 15px;
}

.swal2-shown {
    padding-right: 0!important;
}