@import '../../SCSS/mixin';
@import '../../SCSS/variables';
.non_students {
    text-align: center;
    background-color: $color-gray-5;
    padding-bottom: $pd-1;
    border-bottom: 1px solid $color-gray-3;
    .teachers {
        h5 {
            @include text($color-black-0, $fs-2, $fw-bold-0);
            cursor: pointer;
        }
        border-right: 1px solid $color-gray-3;
        width: 50%;
        padding: 28px 30px;
        p {
            letter-spacing: 1px;
        }
    }
    .businesses {
        h5 {
            @include text($color-black-0, $fs-2, $fw-bold-0);
            cursor: pointer;
        }
        width: 50%;
        padding: 28px 30px;
    }
}