@import '../../SCSS/variables';
@import '../../SCSS/mixin';
.myStudent {
    padding-top: $pd-2;
    padding-bottom: $pd-2;
    .student_content {
        width: 92%;
        margin: auto;
        position: relative;
        h3 {
            @include text($color-black-0, $fs-0 + 4, $fw-normal);
        }
        .card {
            border: 2px solid $color-gray-5;
            .card-title {
                @include text($color-black-0, $fs-0, $fw-bold);
            }
            .card-text {
                @include text($color-gray-4, $fs-1, $fw-normal);
            }
            .rating {
                display: flex;
                .rating_star {
                    @include text($color-yellow, $fs-1, $fw-normal);
                    margin-right: $mg-0;
                }
                span:nth-child(2) {
                    @include text($color-gray-4, $fs-1, $fw-bold);
                    margin-right: $mg-0;
                }
                span:last-child {
                    @include text($color-gray-4, $fs-1, $fw-normal);
                }
            }
            .price {
                text-align: right;
                .old_price {
                    @include text($color-gray-4, $fs-1, $fw-normal);
                    text-decoration: line-through;
                }
                .new_price {
                    @include text($color-black-0, $fs-0, $fw-bold);
                }
            }
            &:hover {
                box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15)!important;
                cursor: pointer;
                img {
                    opacity: .5;
                }
            }
        }
    }
}