.udemyIntro {
    background: linear-gradient(to left, $color-yellow-0, $color-red-1);
    .udemyIntro__content {
        @include width70 ();
        padding: $pd-1 0;
        padding-left: $pd-2;
        .udemyIntro__item {
            .udemyIntro__icon {
                @include text-style($color-white-0 ,$fs-4 + 10, $fw-bold-1);
                margin: $mg-2 0;
            }
            .udemyIntro__content {
                padding-left: 10px;
                p:first-child {
                    @include text-style($color-white-0 ,$fs-0 + 2, $fw-bold-1);
                    margin-bottom: 0;
             
                }
                p:last-child {
                    @include text-style($color-white-0 ,$fs-0, $fw-normal);
                    margin-bottom: 0;
                }
            }
        }
    }
    
    // RESPONSIVES
      @include mediaQuery('large') {
        .udemyIntro__content {
            text-align: center;
            padding-left: 0;
            .udemyIntro__item {
                i {
                    display: none;
                }   
            }
        }
      } 
}