.profilePicture {
    width: 150px;
    height: 150px;
    margin: $mg-2 auto;
    img {
        border-radius: 50%;
        border: 1px solid $color-white-0;
        width: 100%;
        height: 100%;
        width: 100%;
    }
}

.formProfile {
    @include searchBox();
}