@mixin text-style($txt-color, $fs, $fw) {
    color: $txt-color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin button-style($bg-color,$bd-color,$pd-top-bottom,$pd-right-left,$bd-radius) {
    background-color:$bg-color;
    border:1px solid $bd-color;
    padding:$pd-top-bottom $pd-right-left;
    border-radius:$bd-radius;
}

@mixin inputSearch($bg-color-form, $bd-color-form, $bg-color-input, $bd-color-input, $bg-color-button, $bd-color-button) {
    background-color: $bg-color-form;
    border: 1px solid $bd-color-form;
    .form-control {
      background-color: transparent;
      border-color: transparent;
      transition: none;
      padding: $pd-2;
      &:focus {
        background-color: $bg-color-input;
        border-top-color: $bd-color-input;
        border-bottom-color: $bd-color-input;
        border-left-color: $bd-color-input;
        box-shadow: none;
      }
      &:focus + .input-group-append {
        .input-group-text {
          background-color: $bg-color-button;
          border-top-color: $bd-color-button;
          border-bottom-color: $bd-color-button;
          border-right-color: $bd-color-button;
          &:hover {
            background-color: $color-yellow-0;
            color: $color-white-0;
            border-top-color: $color-yellow-0;
            border-bottom-color: $color-yellow-0;
            border-right-color: $color-yellow-0;
          }
        }
      }
    }
    .input-group-append {
      margin-left: -2px;
      .input-group-text {
        background-color: transparent;
        border-color: transparent;
        color: $color-black-0;
        padding-left: $pd-1 + 4;
        padding-right: $pd-1 + 4;
        &:hover {
          background-color: $color-yellow-1;
          color: $color-white-0;
        }
      }
    }
}

@mixin searchBox() {
  .form-control {
    border-radius: 50px;
    border: 1px solid $color-gray-2;
  }
  
  .form-control:focus {
    border-color: $color-gray-2;
    box-shadow: none;
  }
}



@mixin width70() {
    width: $w-70;
    margin: $mg-auto;
}

@mixin card-format() {
    white-space: $sp-1; 
    overflow: $o-1;
    text-overflow: $text-o-1;
}

@mixin  mediaQuery($screen) {
    @if map-has-key($map: $breakpoints , $key: $screen){
        $value: map-get($map:$breakpoints , $key:$screen );
        @media screen and (max-width: $value) {
            @content;
        }
    }
    @else{
        @warn '`#{$screen}` Screen khong ton tai';
    }
}

@mixin  mediaQueryMinWidth($screen) {
  @if map-has-key($map: $breakpoints , $key: $screen){
      $value: map-get($map:$breakpoints , $key:$screen );
      @media screen and (min-width: $value) {
          @content;
      }
  }
  @else{
      @warn '`#{$screen}` Screen khong ton tai';
  }
}