// variable color

$color-black-0: #29303b; 
$color-white-0: #fff; 
$color-red-0:#ec5252;
$color-red-1: #da493e;
$color-red-2: #ff1100;
$color-red-1: #521822;
$color-purple: #6e1a52;
$color-gray-1: #14171c0d;
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5:#F7F8FA;
$color-gray-6: #cccccc;
$color-black-light:#505763;
$color-white-cream:#f2f3f5;
$color-black-dark: #14171c1a;
$color-yellow-0: #fbcf2c;
$color-yellow-1: #c49e00;
$color-yellow-2: #ffc312;
$color-yellow-3: #a67d06;
$color-yellow-4: #FFFFCC;
$color-blue:#007791;
$color-green-0: #5db352;
$color-orange-1: #ffdfc0