@import '../../SCSS/mixin';
@import '../../SCSS/variables';
.myNavBar {
    //position: fixed;
    width: 100%;
    z-index: 5;
    background-color: white;
    transition: all 1s;
    &.headerClass {
        border-bottom: 1px solid $color-gray-3;
    }
    .navbar_brand {
        flex-grow: 1;
        img {
            width: 110px;
        }
    }
    .categories {
        flex-grow: 1;
        @include text($color-black-light, $fs-1, $fw-normal);
        align-self: center;
    }
    .input_search {
        flex-grow: 5;
        .form_control {
            background-color: $color-gray-1;
            border: none;
            transition: none;
            &:focus {
                box-shadow: none;
                background-color: $color-white-0;
                border-top: 1px solid $color-gray-3;
                border-bottom: 1px solid $color-gray-3;
                border-left: 1px solid $color-gray-3;
            }
            &:focus+.input_group_prepend {
                .input_group_text {
                    color: $color-red-0;
                    background-color: $color-white-0;
                    border-top: 1px solid $color-gray-3;
                    border-bottom: 1px solid $color-gray-3;
                    border-right: 1px solid $color-gray-3;
                }
                &:hover {
                    .input_group_text {
                        color: $color-white-0;
                        background-color: $color-red-0;
                    }
                }
            }
        }
        .input_group_prepend {
            .input_group_text {
                background-color: $color-gray-1;
                color: $color-red-0;
                border: none;
            }
            &:hover {
                .input_group_text {
                    color: $color-white-0;
                    background-color: $color-red-0;
                }
            }
        }
    }
    .navbar_nav {
        justify-content: space-around;
        width: 100%;
        .nav_item {
            .nav_link {
                @include text($color-black-light, $fs-1, $fw-normal);
                padding: $pd-1 $pd-2;
                &:hover {
                    background-color: $color-gray-1;
                }
            }
        }
        .nav_item:nth-of-type(3) {
            border-radius: 50%;
        }
    }
    @include respond-to('extra-large') {
        .navbar_nav {
            .business,
            .instructor {
                display: none;
            }
        }
    }
    @include respond-to('medium') {
        .categories,
        .input_search {
            display: none;
        }
    }
}