.footer__container { 
    z-index: 1;
    padding: $pd-2;
    .footer__top {
        margin: auto;
        a {
            @include text-style($color-blue, $fs-1, $fw-normal);
            &:hover {
                @include text-style($color-black-0, $fs-1, $fw-normal);
                text-decoration: none;
            }
        }
        .bold {
                @include text-style($color-blue, $fs-1, $fw-bold);
                &:hover {
                    @include text-style($color-black-0, $fs-1, $fw-bold);
                    text-decoration: none;
                }
            }
    }
    
    .footer__bottom {
        margin: $mg-1 + 5 auto;
        .footer__left {
            img {
            max-width: 110px;
            
        }
        span {
            align-self: center;
        }
        }
        
        .footer__right {
            text-align: right;
            a {
                @include text-style($color-blue, $fs-1, $fw-normal);
                &:hover {
                    @include text-style($color-black-0, $fs-1, $fw-normal);
                    text-decoration: none;
                }
            }
            
        }
    }  
    
    // RESPONSIVES
    @include mediaQuery('extra-large') {
        .footer__container { 
            
            
        }

    }

}