@import '../../SCSS/variables';
footer {
    .footer_links {
        padding-top: $pd-2 * 2;
    }
    .dropup {
        text-align: right;
        margin-right: $mg-2;
        margin-bottom: $mg-1;
        button {
            background-color: transparent;
            color: $color-black-0;
            border: 1px solid $color-black-0;
            i {
                padding-right: $pd-1;
            }
            span {
                padding-right: $pd-2 * 2;
            }
            &:focus {
                box-shadow: none;
                background-color: $color-gray-5;
            }
        }
    }
    .footer_contacts {
        padding: $pd-2;
        padding-bottom: $pd-2 * 2;
        width: 90%;
        margin: auto;
    }
    .hr_end {
        margin: 0;
        border-top: 6px solid $color-red-0;
    }
    .links {
        width: 90%;
        margin: auto;
        ul {
            list-style: none;
            color: $color-blue;
            li {
                line-height: 1.5rem;
                &:hover {
                    color: $color-black-0;
                    cursor: pointer;
                }
            }
        }
    }
    .footer_lists {
        text-align: right;
        span {
            padding-right: $pd-1;
            cursor: pointer;
            color: $color-blue;
            &:hover {
                color: $color-black-0;
            }
        }
    }
    .footer_logo {
        img {
            width: 110px;
            padding-right: $pd-2;
            cursor: pointer;
        }
    }
}